---
title: ChangE4 PCAM
date: 2020-01-31 14:49:24
<!-- layout: false -->
---

<style type="text/css">
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #333333;
        background: #EEEEEE;
    }

    .observation {
        padding-top: 20px;
        clear: both;
    }

    .small {
        font-size: 80%;
    }

    .box {
        float: left;
        text-align: center;
        margin: 2px;
        padding: 5px;
    }

    .clearboth {
        clear: both;
    }
</style>

<h1>
    嫦娥4号巡视器（玉兔2号）全景相机
</h1>
原始数据来源和版权信息请见 <a href="http://moon.bao.ac.cn">探月工程官网</a>
<br>
数据处理脚本：<a href="https://github.com/siyu6974/ChangE_4_data_playground">已开源</a>
<br>
<b>点击图片查看预览，点击拍摄时间下载原图</b>
<br>
你也可以用下载器下载
<a href="PCAM_all.txt">
    全部图片
</a>

<h2>说明</h2>
以下PCAM数据基于1月3日发布的2B级PDS文件，共34组2564张。
<br>
PCAM可以获取2352×1728（彩色）或1176×864（全色）两种格式的照片。
<br>
彩色照片是线性的bayer图像，我的处理脚本debayer后再做了p2p98线性拉伸。
<br>
全色照片为机内bin2的灰度图像，脚本只做拉伸。
<br>

{% for ob in pcam %}
<div class="observation">
    <h2>Observation {{ ob.ob }} ({{ ob.date }})</h2>
    {% for img in ob.imgs %}
    <div class="box">
        <a href="{{img.tn}}" data-fancybox="images" data-caption="{{img.name}}" >
            <img src="{{img.tn}}?size=210x150" alt="" />
        </a>

        <a href="{{img.org}}">
            {{img.name}}
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}
